@-webkit-keyframes fadeItem {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeItem {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

img {
  max-width: 100%; }

.card.ng-enter, .card.ng-move {
  -webkit-transition: 400ms all;
  transition: 400ms all;
  opacity: 0; }

.card.ng-enter-active, .card.ng-move-active {
  opacity: 1; }

.card.ng-leave {
  -webkit-animation: 400ms fadeItem;
          animation: 400ms fadeItem; }

.card__title {
  text-align: center; }
