@keyframes fadeItem {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}


h1,
h2,
h3,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}



.content {
	position: absolute;
	top: 72px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.toolbar {
	padding: 8px; 
}


// Card
// -------------------------------------------
.card {
	&.ng-enter,
	&.ng-move {
		transition: 400ms all;
		opacity: 0;
	}

	&.ng-enter-active,
	&.ng-move-active {
		opacity: 1;
	}

	&.ng-leave {
		animation: 400ms fadeItem;
	}
}

.card__title {
	text-align: center;
}

.card__button {
	display: block;
	width: 100%;
}


// About
// -------------------------------------------
.about {
	max-width: 700px;
}


// Movie
// -------------------------------------------
.movie {
	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: cover;
}
