<md-dialog 
		class='about'
		layout='column' 
		layout-padding>
	<h2>Hello!</h2>
	<p>I wanted improve my skills in AngularJS and decided create this project.</p>
	<p>I use <a class='md-primary' href='https://material.angularjs.org/' target='_blank'>Angular Material</a> and <a class='md-primary' href='https://developers.themoviedb.org/3/getting-started' target='_blank'>The Movie DB API</a>.</p>
	<p>If you want to see code => <a class='md-primary' href='https://github.com/webslavik/the-movie-find-app'>GitHub</a>.</p>
</md-dialog>
