<md-content>
	<md-toolbar class='toolbar' layout='row' layout-align='space-between center'>
		<a class='md-raised md-warn' ui-sref="home">Home</a>
		<md-autocomplete
					md-search-text-change='mainCtrl.queryData(mainCtrl.searchText)'
					md-search-text='mainCtrl.searchText'
					md-items='item in mainCtrl.data'
					md-item-text="item.original_title"
					md-selected-item-change="mainCtrl.queryData(mainCtrl.searchText)"
					md-min-length='1'
					placeholder='Find your movie...'
					flex='50'
					flex-xs='95'>
			<md-item-template>
				<span
					 md-highlight-text="mainCtrl.searchText" 
					 md-highlight-flags="^i"
					 ng-click='mainCtrl.test(item)'>
					 {{ item.original_title }}</span>
			</md-item-template>
			<md-not-found>
				"{{mainCtrl.searchText}}" not found :(
			</md-not-found>
		</md-autocomplete>
		<a class='md-raised md-warn' ui-sref="home"></a>
	</md-toolbar>
</md-content>
